<html>
  
  <head><title>Colorizo</title>
<meta http-equiv="refresh" >
  </head>

  <body style=background-image:url({{url_for('static' , filename = 'unnamed.jpg')}})>
                <div style=width:60%;background:#cccccc;left:0;right:0;border-radius:15px;margin-right:auto;margin-left:auto;padding:20px;>
                <center><img src = {{url_for('static' , filename = 'sabertechnologies.png')}} width=250px height=250px></center><br>
                    <div style=background:#fff;border-radius:15px;padding:10px;>
                        <center><h1 style=color:#000;border-radius:5px; >COLORIZO</h1></center><br> 
      <center>
      <center><img src = {{url_for('static' , filename = string2)}} width=500 height=500></center>
      </center>
    </center>
    </div>              
                  <br>
      <center><a href={{url_for('hel')}}>KNOW MORE</a></center>
    </div>
  </body>

</html>
